<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hubofallthings.dataplugs">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application>
        <activity android:name=".activity.BaseActivity"/>
        <activity android:name=".activity.DataPlugsActivity"/>
        <activity android:name=".activity.AppInfoActivity"/>
        <activity android:name=".activity.DataPreviewActivity"/>
        <activity android:name=".activity.WebviewActivity"/>
    </application>
</manifest>
