<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hubofallthings.dataplugs">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application>
        <activity android:name=".activity.BaseActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.DataPlugsActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.AppInfoActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.DataPreviewActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.WebviewActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.ImagePreviewActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.PermissionsDataPlugs"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>
    </application>
</manifest>
